.container {
    width: 500px;
    height: 200px;
    background-color: #ead6cf;
    margin: 100px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container-circle {
    width: 60%;
    height: 150px;
    border: 1px solid #866a5f;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.btn {
    width: 30%;
    height: 150px;
    border: 1px solid #866a5f;
    border-radius: 10px;
    display: block;
    text-align: center;
    line-height: 150px;
    text-decoration: none;
    color: #866a5f;
    font-weight: bold;
}

.circle {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 1px solid #866a5f;
    transition: .4s linear;
}


.orange {
    background-color: orange;
}

.green {
    background-color: green;
}

.red {
    background-color: red;
}